nifi/Nifi-Interface-v2.0/dms_storeTerminalData_v2.0.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>cf0e2606-0177-1000-a9ef-9831ce85270d</groupId>
    <name>dms_storeTerminalData_v2.0</name>
    <snippet>
        <controllerServices>
            <id>12e26bb9-7b7a-3765-0000-000000000000</id>
            <parentGroupId>e45b621c-d965-3cbc-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>
                        <name>csv-reader-csv-parser</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>
                        <name>Record Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>
                        <name>Skip Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>
                        <name>ignore-csv-header</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>csv-header-derived</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>commons-csv</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>,</value>
                </entry>
                <entry>
                    <key>Record Separator</key>
                    <value>\n</value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>"</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVReader</type>
        </controllerServices>
        <controllerServices>
            <id>6d16626a-5ca1-346f-0000-000000000000</id>
            <parentGroupId>e45b621c-d965-3cbc-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>DMS-DBCPConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:postgresql://3.130.52.82:5432/grafanaDms</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>org.postgresql.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/home/ec2-user/HawkEye-dms/postgresql-42.2.18.jar</value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>postgres</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>dd91b26a-846a-3f42-0000-000000000000</id>
            <parentGroupId>e45b621c-d965-3cbc-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.13.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>Schema Write Strategy</propertyName>
                        </dependencies>
                        <name>schema-protocol-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <dependencies>
                            <dependentValues>gzip</dependentValues>
                            <propertyName>compression-format</propertyName>
                        </dependencies>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-protocol-version</key>
                    <value>1</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <processGroups>
            <id>4be617aa-5f77-35ee-0000-000000000000</id>
            <parentGroupId>e45b621c-d965-3cbc-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>877d3338-0896-3db4-0000-000000000000</id>
                    <parentGroupId>4be617aa-5f77-35ee-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5782e665-9150-36f5-0000-000000000000</groupId>
                        <id>74df3951-46fe-3fae-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
                        <id>8250242a-f7c2-3480-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <labels>
                    <id>9ef6adc6-3d4b-3903-0000-000000000000</id>
                    <parentGroupId>4be617aa-5f77-35ee-0000-000000000000</parentGroupId>
                    <position>
                        <x>336.0</x>
                        <y>-352.0</y>
                    </position>
                    <height>224.0</height>
                    <label>This flow is used to load Dunkin store terminal data (JSON) to DB
Algorithm is given below - 
                                                                                                
   1.  Read Rest Web services.
   2. Process it according to requirement.
   3. Required Validation.
   4. Data Transformation &amp; Insertion into persistent store.
       4.1 Update duplicate data.</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>22px</value>
                        </entry>
                    </style>
                    <width>664.0</width>
                </labels>
                <processGroups>
                    <id>0306b6c5-f00a-349f-0000-000000000000</id>
                    <parentGroupId>4be617aa-5f77-35ee-0000-000000000000</parentGroupId>
                    <position>
                        <x>-80.0</x>
                        <y>-488.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>03717b55-99df-3891-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>18341c06-487a-3b7a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>413a75b6-d8c9-3b4a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>0611035b-b70a-3adf-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>8250242a-f7c2-3480-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Response</selectedRelationships>
                            <source>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>19b44f5f-530a-316c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1893dbcd-52b5-3482-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>504.0</x>
<y>-64.0</y>
                            </bends>
                            <bends>
<x>536.0</x>
<y>-112.0</y>
                            </bends>
                            <destination>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>e4c141ad-cfa9-3f8c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>e4c141ad-cfa9-3f8c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>23b197bb-7b6e-3263-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>3e5a4753-cd39-3e8b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>74014063-9228-3e64-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4c9776dd-f754-3ada-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>484.0</x>
<y>285.0</y>
                            </bends>
                            <destination>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>413a75b6-d8c9-3b4a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>No Retry</selectedRelationships>
                            <source>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>19b44f5f-530a-316c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4e48babf-b9ac-3ed1-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>e4c141ad-cfa9-3f8c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>3fe96a31-83ab-3d8e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>61f782b6-de5a-311d-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1032.0</x>
<y>296.0</y>
                            </bends>
                            <bends>
<x>1072.0</x>
<y>248.0</y>
                            </bends>
                            <destination>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>19b44f5f-530a-316c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Retry</selectedRelationships>
                            <source>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>19b44f5f-530a-316c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>abd7cac2-d4fa-3db6-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>413a75b6-d8c9-3b4a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Failure</selectedRelationships>
                            <source>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>19b44f5f-530a-316c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c4517b0f-4511-334b-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>3fe96a31-83ab-3d8e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>3e5a4753-cd39-3e8b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d86cbd45-194d-399f-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>19b44f5f-530a-316c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>0306b6c5-f00a-349f-0000-000000000000</groupId>
<id>e4c141ad-cfa9-3f8c-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <outputPorts>
                            <id>8250242a-f7c2-3480-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <position>
<x>1328.0</x>
<y>336.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>WebServiceOutput</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>18341c06-487a-3b7a-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <position>
<x>330.42935154604436</x>
<y>574.6863902361637</y>
                            </position>
                            <bundle>
<artifact>nifi-groovyx-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>groovyx-script-file</key>
        <value>
            <name>groovyx-script-file</name>
        </value>
    </entry>
    <entry>
        <key>groovyx-script-body</key>
        <value>
            <name>groovyx-script-body</name>
        </value>
    </entry>
    <entry>
        <key>groovyx-failure-strategy</key>
        <value>
            <name>groovyx-failure-strategy</name>
        </value>
    </entry>
    <entry>
        <key>groovyx-additional-classpath</key>
        <value>
            <name>groovyx-additional-classpath</name>
        </value>
    </entry>
    <entry>
        <key>SQL.mydb</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>SQL.mydb</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>groovyx-script-file</key>
    </entry>
    <entry>
        <key>groovyx-script-body</key>
        <value>import java.nio.charset.*
import java.time.LocalDateTime
import java.util.logging.Logger

def flowFile = session.get()
if(!flowFile) return

def fail = false
String auth
LocalDateTime date = LocalDateTime.now()
String date_time = date.format("yyyy-MM-dd hh:mm:ss.SSS")
Logger log = Logger.getLogger("DMS_StoreTerminalDataWebServToDB");

flowFile = session.write(flowFile, {inputStream, outputStream -&gt;
    try {
        def api = flowFile.getAttribute('API').toString()

        def query = "INSERT INTO public.dms_common_error_table (error_code, error_type, error_description, error_context, interface, reference, createts, modifyts, create_user_id, modify_user_id)\n" +
                "VALUES ('DMSEXCEP003', 'Authorization Failed', 'Authorization failed during API call', 'TerminalStatus', 'dms_storeTerminalDataInterface', '"+api+"', '"+date_time+"', '"+date_time+"', 'Nifi', 'Nifi')"
        log.info(query)

        try {
            SQL.mydb.withTransaction {
                SQL.mydb.execute(query);
            }
        } catch (Exception e) {
            log.info(e.toString())
        }

        outputStream.write("Success".getBytes(StandardCharsets.UTF_8))

    }
    catch(e) {
        log.info("Error during processing of StoreTerminalData.groovy "+e)
        fail=true
    }
} as StreamCallback)
if(fail){
    session.transfer(flowFile, REL_FAILURE)
    fail = false
} else {
    session.transfer(flowFile, REL_SUCCESS)
}</value>
    </entry>
    <entry>
        <key>groovyx-failure-strategy</key>
        <value>rollback</value>
    </entry>
    <entry>
        <key>groovyx-additional-classpath</key>
    </entry>
    <entry>
        <key>SQL.mydb</key>
        <value>6d16626a-5ca1-346f-0000-000000000000</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExecuteGroovyScript</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.groovyx.ExecuteGroovyScript</type>
                        </processors>
                        <processors>
                            <id>19b44f5f-530a-316c-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <position>
<x>616.0</x>
<y>296.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>
            <name>idle-timeout</name>
        </value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>
            <name>max-idle-connections</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>
            <name>disable-http2</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Useragent</key>
        <value>
            <name>Useragent</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>
            <name>ignore-response-content</name>
        </value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
        <value>
            <name>form-body-form-name</name>
        </value>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>
            <name>set-form-filename</name>
        </value>
    </entry>
    <entry>
        <key>Authorization</key>
        <value>
            <name>Authorization</name>
        </value>
    </entry>
    <entry>
        <key>Content-type</key>
        <value>
            <name>Content-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>GET</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value> ${API:getDelimitedField(1,'#')}</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>idle-timeout</key>
        <value>1 mins</value>
    </entry>
    <entry>
        <key>max-idle-connections</key>
        <value>5</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>disable-http2</key>
        <value>False</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Useragent</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>${mime.type}</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
    <entry>
        <key>ignore-response-content</key>
        <value>false</value>
    </entry>
    <entry>
        <key>form-body-form-name</key>
    </entry>
    <entry>
        <key>set-form-filename</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Authorization</key>
        <value> ${API:getDelimitedField(2,'#')}</value>
    </entry>
    <entry>
        <key>Content-type</key>
        <value>application/JSON</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>60sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>InvokeHTTP</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>3e5a4753-cd39-3e8b-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <position>
<x>680.0</x>
<y>-304.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Line Split Count</key>
        <value>
            <name>Line Split Count</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
        <value>
            <name>Maximum Fragment Size</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>
            <name>Header Line Count</name>
        </value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
        <value>
            <name>Header Line Marker Characters</name>
        </value>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>
            <name>Remove Trailing Newlines</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Line Split Count</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Maximum Fragment Size</key>
    </entry>
    <entry>
        <key>Header Line Count</key>
        <value>0</value>
    </entry>
    <entry>
        <key>Header Line Marker Characters</key>
    </entry>
    <entry>
        <key>Remove Trailing Newlines</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitText</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitText</type>
                        </processors>
                        <processors>
                            <id>3fe96a31-83ab-3d8e-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <position>
<x>680.0</x>
<y>-56.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>
            <name>Maximum Capture Group Length</name>
        </value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>
            <name>Enable Canonical Equivalence</name>
        </value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>
            <name>Enable Case-insensitive Matching</name>
        </value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>
            <name>Permit Whitespace and Comments in Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>
            <name>Enable DOTALL Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>
            <name>Enable Literal Parsing of the Pattern</name>
        </value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>
            <name>Enable Multiline Mode</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>
            <name>Enable Unicode-aware Case Folding</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>
            <name>Enable Unicode Predefined Character Classes</name>
        </value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>
            <name>Enable Unix Lines Mode</name>
        </value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>
            <name>Include Capture Group 0</name>
        </value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>
            <name>extract-text-enable-repeating-capture-group</name>
        </value>
    </entry>
    <entry>
        <key>API</key>
        <value>
            <name>API</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Maximum Capture Group Length</key>
        <value>1024</value>
    </entry>
    <entry>
        <key>Enable Canonical Equivalence</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Case-insensitive Matching</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Permit Whitespace and Comments in Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable DOTALL Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Literal Parsing of the Pattern</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Multiline Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode-aware Case Folding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unicode Predefined Character Classes</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Enable Unix Lines Mode</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Include Capture Group 0</key>
        <value>true</value>
    </entry>
    <entry>
        <key>extract-text-enable-repeating-capture-group</key>
        <value>false</value>
    </entry>
    <entry>
        <key>API</key>
        <value>(.*)</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExtractText</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExtractText</type>
                        </processors>
                        <processors>
                            <id>413a75b6-d8c9-3b4a-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <position>
<x>0.0</x>
<y>296.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>windows-1252</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>74014063-9228-3e64-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <position>
<x>64.0</x>
<y>-312.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Input Directory</key>
        <value>
            <name>Input Directory</name>
        </value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>
            <name>File Filter</name>
        </value>
    </entry>
    <entry>
        <key>Path Filter</key>
        <value>
            <name>Path Filter</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Keep Source File</key>
        <value>
            <name>Keep Source File</name>
        </value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>
            <name>Recurse Subdirectories</name>
        </value>
    </entry>
    <entry>
        <key>Polling Interval</key>
        <value>
            <name>Polling Interval</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>
            <name>Ignore Hidden Files</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>
            <name>Minimum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
        <value>
            <name>Maximum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>
            <name>Minimum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
        <value>
            <name>Maximum File Size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Input Directory</key>
        <value>/home/ec2-user/HawkEye-dms/Data_Items/storeTerminalData</value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>APILinks.txt</value>
    </entry>
    <entry>
        <key>Path Filter</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Keep Source File</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Polling Interval</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>360 min</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GetFile</type>
                        </processors>
                        <processors>
                            <id>e4c141ad-cfa9-3f8c-0000-000000000000</id>
                            <parentGroupId>0306b6c5-f00a-349f-0000-000000000000</parentGroupId>
                            <position>
<x>64.0</x>
<y>-72.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Rate Control Criteria</key>
        <value>
            <name>Rate Control Criteria</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Rate</key>
        <value>
            <name>Maximum Rate</name>
        </value>
    </entry>
    <entry>
        <key>Rate Controlled Attribute</key>
        <value>
            <name>Rate Controlled Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Time Duration</key>
        <value>
            <name>Time Duration</name>
        </value>
    </entry>
    <entry>
        <key>Grouping Attribute</key>
        <value>
            <name>Grouping Attribute</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Rate Control Criteria</key>
        <value>flowfile count</value>
    </entry>
    <entry>
        <key>Maximum Rate</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Rate Controlled Attribute</key>
    </entry>
    <entry>
        <key>Time Duration</key>
        <value>1 min</value>
    </entry>
    <entry>
        <key>Grouping Attribute</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ControlRate</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ControlRate</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>dms-storeTerminalDataWebServiceSource</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>5782e665-9150-36f5-0000-000000000000</id>
                    <parentGroupId>4be617aa-5f77-35ee-0000-000000000000</parentGroupId>
                    <position>
                        <x>-80.0</x>
                        <y>-176.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>2d6499a8-2d21-3ba1-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>ee2441f6-2737-3238-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>971d0824-8adf-3fdc-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>357baf07-6d1e-3b91-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>5191231e-da1a-3ad8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>sql</selectedRelationships>
                            <source>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>6571adc4-5623-3430-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>43bb7ccc-b3e2-35cb-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>ccfc54e4-3846-3077-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>ee2441f6-2737-3238-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4977cfd7-abce-3ade-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>ee2441f6-2737-3238-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>80130270-57c6-3ecd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4d8fa011-d546-31fc-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>ee2441f6-2737-3238-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>a088678d-7cbc-3d06-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5329115e-5c88-3b75-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>80130270-57c6-3ecd-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>5191231e-da1a-3ad8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6543ee3f-6488-3688-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1529.947509765625</x>
<y>944.0374450683594</y>
                            </bends>
                            <bends>
<x>1529.947509765625</x>
<y>994.0374450683594</y>
                            </bends>
                            <destination>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>5191231e-da1a-3ad8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>5191231e-da1a-3ad8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>806ecc9e-bbe3-3ea1-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>a088678d-7cbc-3d06-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>971d0824-8adf-3fdc-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9e288411-4e9f-3e25-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>3066ff26-b0c4-3038-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>a088678d-7cbc-3d06-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>acfe8376-0cc4-3744-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>ee2441f6-2737-3238-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>6571adc4-5623-3430-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>baa0ad37-3bc1-3ae4-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>ee2441f6-2737-3238-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>3066ff26-b0c4-3038-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c5f8cb2a-f6ce-3f48-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>6571adc4-5623-3430-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>3066ff26-b0c4-3038-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ca532f72-910c-38ec-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>971d0824-8adf-3fdc-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>74df3951-46fe-3fae-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e85dab29-221d-371d-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>4f8943c4-941c-36cf-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5782e665-9150-36f5-0000-000000000000</groupId>
<id>76dc09b4-2f24-3080-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>74df3951-46fe-3fae-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <position>
<x>160.0</x>
<y>-96.0</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>WebServiceInput</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <processors>
                            <id>3066ff26-b0c4-3038-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <position>
<x>1096.0</x>
<y>384.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>
            <name>include-zero-record-flowfiles</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>12e26bb9-7b7a-3765-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>dd91b26a-846a-3f42-0000-000000000000</value>
    </entry>
    <entry>
        <key>include-zero-record-flowfiles</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertRecord</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                        </processors>
                        <processors>
                            <id>4f8943c4-941c-36cf-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <position>
<x>-232.0</x>
<y>280.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.0</version>
                            </bundle>
                            <config>
<annotationData>&lt;criteria&gt;
    &lt;flowFilePolicy&gt;USE_CLONE&lt;/flowFilePolicy&gt;
    &lt;rules&gt;
        &lt;actions&gt;
            &lt;attribute&gt;API&lt;/attribute&gt;
            &lt;id&gt;cee6865b-369e-40fc-81bb-9275201a71a4&lt;/id&gt;
            &lt;value&gt;"https://secure.logmein.com/public-api/v2/hostswithgroups#{"companyId": 1075962611, "psk": "01_sLJXe1iGT4dZl0KAOO0HYVoe1Td2rgcEFdUa8SfvZrZ6sXvuzptEZ75KcSVHEsxMQMIIy9JHOAg4QT0dz2ATuyDkiZHLb5J7FvkG4dRaSmKQal9Phtah1ZODQC52q"}"&lt;/value&gt;
        &lt;/actions&gt;
        &lt;conditions&gt;
            &lt;expression&gt;${filename:equals(${filename})}&lt;/expression&gt;
            &lt;id&gt;f678a7a5-5cfb-4048-994a-5644feb69074&lt;/id&gt;
        &lt;/conditions&gt;
        &lt;id&gt;5024beaa-eb02-4b06-91aa-2f9091fd4c5f&lt;/id&gt;
        &lt;name&gt;abc&lt;/name&gt;
    &lt;/rules&gt;
&lt;/criteria&gt;</annotationData>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>5191231e-da1a-3ad8-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <position>
<x>1064.0</x>
<y>904.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>
            <name>database-session-autocommit</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>6d16626a-5ca1-346f-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutSQL</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                        <processors>
                            <id>6571adc4-5623-3430-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <position>
<x>1120.0</x>
<y>632.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>
            <name>Statement Type</name>
        </value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>
            <name>Table Name</name>
        </value>
    </entry>
    <entry>
        <key>Catalog Name</key>
        <value>
            <name>Catalog Name</name>
        </value>
    </entry>
    <entry>
        <key>Schema Name</key>
        <value>
            <name>Schema Name</name>
        </value>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>
            <name>Translate Field Names</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>
            <name>Unmatched Field Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>
            <name>Unmatched Column Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Update Keys</key>
        <value>
            <name>Update Keys</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>
            <name>jts-quoted-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>
            <name>jts-quoted-table-identifiers</name>
        </value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>
            <name>jts-sql-param-attr-prefix</name>
        </value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>
            <name>table-schema-cache-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>6d16626a-5ca1-346f-0000-000000000000</value>
    </entry>
    <entry>
        <key>Statement Type</key>
        <value>INSERT</value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>dms_store_terminal_data</value>
    </entry>
    <entry>
        <key>Catalog Name</key>
    </entry>
    <entry>
        <key>Schema Name</key>
        <value>public</value>
    </entry>
    <entry>
        <key>Translate Field Names</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Unmatched Field Behavior</key>
        <value>Ignore Unmatched Fields</value>
    </entry>
    <entry>
        <key>Unmatched Column Behavior</key>
        <value>Fail on Unmatched Columns</value>
    </entry>
    <entry>
        <key>Update Keys</key>
    </entry>
    <entry>
        <key>jts-quoted-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-quoted-table-identifiers</key>
        <value>false</value>
    </entry>
    <entry>
        <key>jts-sql-param-attr-prefix</key>
        <value>sql</value>
    </entry>
    <entry>
        <key>table-schema-cache-size</key>
        <value>100</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertJSONToSQL</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>sql</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
                        </processors>
                        <processors>
                            <id>76dc09b4-2f24-3080-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <position>
<x>-440.0</x>
<y>56.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Input Directory</key>
        <value>
            <name>Input Directory</name>
        </value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>
            <name>File Filter</name>
        </value>
    </entry>
    <entry>
        <key>Path Filter</key>
        <value>
            <name>Path Filter</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Keep Source File</key>
        <value>
            <name>Keep Source File</name>
        </value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>
            <name>Recurse Subdirectories</name>
        </value>
    </entry>
    <entry>
        <key>Polling Interval</key>
        <value>
            <name>Polling Interval</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>
            <name>Ignore Hidden Files</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>
            <name>Minimum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
        <value>
            <name>Maximum File Age</name>
        </value>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>
            <name>Minimum File Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
        <value>
            <name>Maximum File Size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Input Directory</key>
        <value>/home/ec2-user/HawkEye-dms/Data_Items/storeTerminalData</value>
    </entry>
    <entry>
        <key>File Filter</key>
        <value>HostswithGroups.json</value>
    </entry>
    <entry>
        <key>Path Filter</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>10</value>
    </entry>
    <entry>
        <key>Keep Source File</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Recurse Subdirectories</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Polling Interval</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Ignore Hidden Files</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Minimum File Age</key>
        <value>0 sec</value>
    </entry>
    <entry>
        <key>Maximum File Age</key>
    </entry>
    <entry>
        <key>Minimum File Size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>Maximum File Size</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>60 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GetFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GetFile</type>
                        </processors>
                        <processors>
                            <id>80130270-57c6-3ecd-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <position>
<x>864.0</x>
<y>1160.0</y>
                            </position>
                            <bundle>
<artifact>nifi-groovyx-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>groovyx-script-file</key>
        <value>
            <name>groovyx-script-file</name>
        </value>
    </entry>
    <entry>
        <key>groovyx-script-body</key>
        <value>
            <name>groovyx-script-body</name>
        </value>
    </entry>
    <entry>
        <key>groovyx-failure-strategy</key>
        <value>
            <name>groovyx-failure-strategy</name>
        </value>
    </entry>
    <entry>
        <key>groovyx-additional-classpath</key>
        <value>
            <name>groovyx-additional-classpath</name>
        </value>
    </entry>
    <entry>
        <key>SQL.mydb</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>SQL.mydb</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>groovyx-script-file</key>
    </entry>
    <entry>
        <key>groovyx-script-body</key>
        <value>import java.nio.charset.*
import java.util.logging.Logger

def flowFile = session.get()
if(!flowFile) return
Logger log = Logger.getLogger("DMS_StoreTerminalDataWebServToDB");

def fail = false
String store_id, group_id, terminal_id, company_id, description, hoststatechangedate,
        ishostonline, terminal_desc, terminal_type, group_name, createts, modifyts, brand, modify_user_id

flowFile = session.write(flowFile, {inputStream, outputStream -&gt;
    try {
        store_id = flowFile.getAttribute('sql.args.1.value').toString()
        brand = flowFile.getAttribute('sql.args.2.value').toString()
        group_id = flowFile.getAttribute('sql.args.3.value').toString()
        terminal_id = flowFile.getAttribute('sql.args.4.value').toString()
        company_id = flowFile.getAttribute('sql.args.5.value').toString()
        description = flowFile.getAttribute('sql.args.6.value').toString()
        hoststatechangedate = flowFile.getAttribute('sql.args.7.value').toString()
        ishostonline = flowFile.getAttribute('sql.args.8.value').toString()
        terminal_desc = flowFile.getAttribute('sql.args.13.value').toString()
        group_name = flowFile.getAttribute('sql.args.14.value').toString()
        terminal_type = flowFile.getAttribute('sql.args.15.value').toString()
        //createts = flowFile.getAttribute('sql.args.9.value').toString()
        modifyts = flowFile.getAttribute('sql.args.10.value').toString()
        modify_user_id = flowFile.getAttribute('sql.args.12.value').toString()


        def query = "UPDATE public.dms_store_terminal_data\n" +
                "SET group_id='"+group_id+"', brand='"+brand+"', company_id='"+company_id+"', description='"+description+"', hoststatechangedate='"+hoststatechangedate+"', ishostonline='"+ishostonline+"'," +
                "modifyts='"+modifyts+"', terminal_desc='"+terminal_desc+"', group_name='"+group_name+"', terminal_type='"+terminal_type+"', modify_user_id='"+modify_user_id+"'\n" +
                "WHERE terminal_id='"+terminal_id+"';"

        try {
            SQL.mydb.withTransaction {
                SQL.mydb.execute(query);
            }
        } catch (Exception e) {
            log.info(e.toString())
        }

        outputStream.write("Success".getBytes(StandardCharsets.UTF_8))

    }
    catch(e) {
        log.info("Error during processing of validate.groovy "+e)
        session.transfer(inputStream, REL_FAILURE)
        fail=true
    }
} as StreamCallback)
if(fail){
    session.transfer(flowFile, REL_FAILURE)
    fail = false
} else {
    session.transfer(flowFile, REL_SUCCESS)
}</value>
    </entry>
    <entry>
        <key>groovyx-failure-strategy</key>
        <value>rollback</value>
    </entry>
    <entry>
        <key>groovyx-additional-classpath</key>
    </entry>
    <entry>
        <key>SQL.mydb</key>
        <value>6d16626a-5ca1-346f-0000-000000000000</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Upsert</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.groovyx.ExecuteGroovyScript</type>
                        </processors>
                        <processors>
                            <id>971d0824-8adf-3fdc-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <position>
<x>176.0</x>
<y>56.0</y>
                            </position>
                            <bundle>
<artifact>nifi-groovyx-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>groovyx-script-file</key>
        <value>
            <name>groovyx-script-file</name>
        </value>
    </entry>
    <entry>
        <key>groovyx-script-body</key>
        <value>
            <name>groovyx-script-body</name>
        </value>
    </entry>
    <entry>
        <key>groovyx-failure-strategy</key>
        <value>
            <name>groovyx-failure-strategy</name>
        </value>
    </entry>
    <entry>
        <key>groovyx-additional-classpath</key>
        <value>
            <name>groovyx-additional-classpath</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>groovyx-script-file</key>
    </entry>
    <entry>
        <key>groovyx-script-body</key>
        <value>import groovy.json.JsonSlurper
import org.apache.commons.io.IOUtils
import java.nio.charset.*
import java.time.LocalDateTime
import java.util.logging.Logger

def flowFile = session.get()
if(!flowFile) return
Logger log = Logger.getLogger("DMS_StoreTerminalDataWebServToDB");
String outputData = "", str, store_id, terminal_type, company_id = "", brand = ""
def fail = false
LocalDateTime date = LocalDateTime.now()
String date_time = date.format("yyyy-MM-dd hh:mm:ss.SSS")
json_sup = new JsonSlurper()

String com_id = flowFile.getAttribute('API').toString()
String[] arr = com_id.split('#')
company_id = arr[1].substring(14,24)
brand = arr[2].replaceAll(" ","")
log.info(company_id)

flowFile = session.write(flowFile, {inputStream, outputStream -&gt;
    try {
        def recordIn = IOUtils.toString(inputStream, StandardCharsets.UTF_8)
        json_response = json_sup.parseText(recordIn)

        outputData = "store_id"+','+"brand"+','+"group_id"+','+"terminal_id"+','+"company_id"+','+"description"+','+"hoststatechangedate"+','+"ishostonline"+','+
                "createts"+','+"modifyts"+','+"create_user_id"+','+"modify_user_id"+','+"terminal_desc"+','+"group_name"+','+"terminal_type"+'\n'
        for (int i = 0; i &lt; json_response.hosts.size(); i++) {

            str = json_response.hosts.description[i]
            if (str.contains("WSKDS")) {
                for (int j = 0; j &lt; str.length(); j++) {
                    if (str.charAt(j) == '_') {
                        store_id = str.substring(j + 1, j + 7)
                    }
                }
                terminal_type = "KDS"
            } else if (str.contains("POS") &amp;&amp; str.length() &gt; 11) {
                store_id = str.substring(2, 8)
                terminal_type = "POS"
            } else if (str.contains("KIOSK") || str.contains("Kiosk")  &amp;&amp; !str.contains("LAB")){
                store_id = str.substring(2, 8)
                terminal_type = "KIOSK"
            } else if (str.contains("KIOSK") || str.contains("Kiosk") &amp;&amp; str.contains("LAB")){
                store_id = str.substring(3, 9)
                terminal_type = "KIOSK"
            } else if (str.contains("BRIDGE") &amp;&amp; !str.contains("LAB")){
                store_id = str.substring(2, 8)
                terminal_type = "BRIDGE"
            } else if (str.contains("BRIDGE") &amp;&amp; str.contains("LAB")){
                store_id = str.substring(3, 9)
                terminal_type = "BRIDGE"
            } else if (str.contains("TAB") &amp;&amp; str.length() &gt; 11){
                store_id = str.substring(2, 8)
                terminal_type = "TAB"
            } else {
                store_id = str
                terminal_type = "UAT"
            }

            def group_nm = ""
            if (json_response.groups['id'].contains(json_response.hosts.groupid[i])){
                int index=json_response.groups['id'].indexOf(json_response.hosts.groupid[i]);
                group_nm=json_response.groups[index].name;
            }

            String hoststatechangedate = (json_response.hosts.hostStateChangeDate[i].toString().replaceAll("T", " ")).replaceAll("Z", ".000")

            def outputRows = store_id+
                    ','+brand+
                    ','+json_response.hosts.groupid[i].toString()+
                    ','+json_response.hosts.id[i].toString()+
                    ','+company_id+
                    ','+''+
                    ','+hoststatechangedate+
                    ','+json_response.hosts.isHostOnline[i].toString()+
                    ','+date_time+
                    ','+date_time+
                    ','+"Nifi"+
                    ','+"Nifi"+
                    ','+json_response.hosts.description[i]+
                    ','+group_nm+
                    ','+terminal_type+'\n'

            outputData = outputData + outputRows

        }

        outputStream.write(outputData.toString().getBytes(StandardCharsets.UTF_8))
        outputData = ''

    }
    catch(e) {
        log.info("Error during processing of terminalData.groovy "+e)
        fail=true
    }
} as StreamCallback)
if(fail){
    session.transfer(flowFile, REL_FAILURE)
    fail = false
} else {
    session.transfer(flowFile, REL_SUCCESS)
}</value>
    </entry>
    <entry>
        <key>groovyx-failure-strategy</key>
        <value>rollback</value>
    </entry>
    <entry>
        <key>groovyx-additional-classpath</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExecuteGroovyScript-PushDataToPostgreSQL</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#ffffff</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.groovyx.ExecuteGroovyScript</type>
                        </processors>
                        <processors>
                            <id>a088678d-7cbc-3d06-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <position>
<x>856.0</x>
<y>112.0</y>
                            </position>
                            <bundle>
<artifact>nifi-groovyx-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>groovyx-script-file</key>
        <value>
            <name>groovyx-script-file</name>
        </value>
    </entry>
    <entry>
        <key>groovyx-script-body</key>
        <value>
            <name>groovyx-script-body</name>
        </value>
    </entry>
    <entry>
        <key>groovyx-failure-strategy</key>
        <value>
            <name>groovyx-failure-strategy</name>
        </value>
    </entry>
    <entry>
        <key>groovyx-additional-classpath</key>
        <value>
            <name>groovyx-additional-classpath</name>
        </value>
    </entry>
    <entry>
        <key>SQL.mydb</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>SQL.mydb</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>groovyx-script-file</key>
    </entry>
    <entry>
        <key>groovyx-script-body</key>
        <value>import org.apache.commons.io.IOUtils
import java.nio.charset.*
import java.util.logging.Logger
import java.util.regex.Matcher
import java.util.regex.Pattern

def flowFile = session.get()
if(!flowFile) return
Logger log = Logger.getLogger("DMS_StoreTerminalDataWebServToDB");
String outputData = ""
def fail = false

flowFile = session.write(flowFile, {inputStream, outputStream -&gt;
    try {
        def recordIn = IOUtils.toString(inputStream, StandardCharsets.UTF_8)
        String[] rows = recordIn.split('\n'), cells
        for(int i =0 ; i &lt; rows.size() ; i++){
            if(i == 0){
                outputData = "store_id"+','+"brand"+','+"group_id"+','+"terminal_id"+','+"company_id"+','+"description"+','+"hoststatechangedate"+','+"ishostonline"+','+
                        "createts"+','+"modifyts"+','+"create_user_id"+','+"modify_user_id"+','+"terminal_desc"+','+"group_name"+','+"terminal_type"+'\n'
            }
            else {
                def row = rows[i]
                cells = row.split(',')

                Pattern p = Pattern.compile("[!@#%&amp;*\$+=|&lt;&gt;?{}\\[\\]~]")
                Pattern p1 = Pattern.compile("[a-zA-Z]")

                Matcher m = p.matcher(row)
                Matcher m1 = p1.matcher(cells[6].toString())

                boolean hasSpecialCharecter = m.find()
                boolean hasAlphabet = m1.find()


                if (hasSpecialCharecter || hasAlphabet || cells[2].length() &gt; 8 || cells[3].length() &gt; 12){

                    def reference = "{\n" +
                            "  \"store_id\" : \""+cells[0]+"\",\n" +
                            "  \"brand\" : \""+cells[1]+"\",\n" +
                            "  \"group_id\" : \""+cells[2]+"\",\n" +
                            "  \"terminal_id\" : \""+cells[3]+"\",\n" +
                            "  \"company_id\" : \""+cells[4]+"\",\n" +
                            "  \"description\" : \""+cells[5]+"\",\n" +
                            "  \"hoststatechangedate\" : \""+cells[6]+"\",\n" +
                            "  \"ishostonline\" : \""+cells[7]+"\",\n" +
                            "  \"terminal_desc\" : \""+cells[12]+"\",\n" +
                            "  \"group_name\" : \""+cells[13]+"\",\n" +
                            "  \"terminal_type\" : \""+cells[14]+"\",\n" +
                            "  \"createts\" : \""+cells[8]+"\",\n" +
                            "  \"modifyts\" : \""+cells[9]+"\",\n" +
                            "  \"create_user_id\" : \""+cells[10]+"\",\n" +
                            "  \"modify_user_id\" : \""+cells[11]+"\"\n" +
                            "}"

                    def query = "INSERT INTO public.dms_common_error_table (error_code, error_type, error_description, error_context, interface, reference, createts, modifyts, create_user_id, modify_user_id)\n" +
                            "VALUES ('"+"DMSEXCEP001"+
                            "','"+"Special Char/Alphabet"+
                            "','"+"Special character or Alphabet found"+
                            "','"+"TerminalStatus"+
                            "','"+"dms_storeTerminalDataInterface"+
                            "','"+reference+
                            "','"+cells[8]+
                            "','"+cells[9]+
                            "','"+"Nifi"+
                            "','"+"Nifi"+"');"

                    try {
                        SQL.mydb.withTransaction {
                            SQL.mydb.execute(query);
                            // results = "{True}"
                            log.info("")
                        }
                    } catch (Exception e) {
                        log.info("\n Error Loading data for "+ query.toString() + " Error is "+e.toString());
                        log.info("........................................");
                    }

                }
                else if (cells[0]=="" || cells[2]=="" || cells[3]=="" || cells[12]=="" || cells[13]==""){
                    def reference = "{\n" +
                            "  \"store_id\" : \""+cells[0]+"\",\n" +
                            "  \"brand\" : \""+cells[1]+"\",\n" +
                            "  \"group_id\" : \""+cells[2]+"\",\n" +
                            "  \"terminal_id\" : \""+cells[3]+"\",\n" +
                            "  \"company_id\" : \""+cells[4]+"\",\n" +
                            "  \"description\" : \""+cells[5]+"\",\n" +
                            "  \"hoststatechangedate\" : \""+cells[6]+"\",\n" +
                            "  \"ishostonline\" : \""+cells[7]+"\",\n" +
                            "  \"terminal_desc\" : \""+cells[12]+"\",\n" +
                            "  \"group_name\" : \""+cells[13]+"\",\n" +
                            "  \"terminal_type\" : \""+cells[14]+"\",\n" +
                            "  \"createts\" : \""+cells[8]+"\",\n" +
                            "  \"modifyts\" : \""+cells[9]+"\",\n" +
                            "  \"create_user_id\" : \""+cells[10]+"\",\n" +
                            "  \"modify_user_id\" : \""+cells[11]+"\"\n" +
                            "}"

                    def query = "INSERT INTO public.dms_common_error_table (error_code, error_type, error_description, error_context, interface, reference, createts, modifyts, create_user_id, modify_user_id)\n" +
                            "VALUES ('"+"DMSEXCEP002"+
                            "','"+"Missing Field(s)"+
                            "','"+"Some fields are missing"+
                            "','"+"TerminalStatus"+
                            "','"+"dms_storeTerminalDataInterface"+
                            "','"+reference+
                            "','"+cells[8]+
                            "','"+cells[9]+
                            "','"+"Nifi"+
                            "','"+"Nifi"+"');"

                    try {
                        SQL.mydb.withTransaction {
                            SQL.mydb.execute(query);
                            log.info("")
                        }
                    } catch (Exception e) {
                        log.info("\n Error Loading data for "+ query.toString() + " Error is "+e.toString());
                        log.info("........................................");
                    }
                }
                else{
                    def outputRows = cells[0]+','+cells[1]+','+cells[2]+','+cells[3]+','+cells[4]+','+cells[5]+ ','+cells[6]+','+
                            cells[7]+','+cells[8]+','+cells[9]+','+cells[10]+','+cells[11]+','+cells[12]+','+cells[13]+','+cells[14]+'\n'

                    outputData = outputData + outputRows;
                }

            }

        }

        outputStream.write(outputData.getBytes(StandardCharsets.UTF_8))
        outputData = ''
        log.info("Code runs Successfully")

    }
    catch(e) {
        log.info("Error during processing of validate.groovy "+e)
        fail=true
    }
} as StreamCallback)
if(fail){
    session.transfer(flowFile, REL_FAILURE)
    fail = false
} else {
    session.transfer(flowFile, REL_SUCCESS)
}</value>
    </entry>
    <entry>
        <key>groovyx-failure-strategy</key>
        <value>rollback</value>
    </entry>
    <entry>
        <key>groovyx-additional-classpath</key>
    </entry>
    <entry>
        <key>SQL.mydb</key>
        <value>6d16626a-5ca1-346f-0000-000000000000</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Error Data Remover</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.groovyx.ExecuteGroovyScript</type>
                        </processors>
                        <processors>
                            <id>ccfc54e4-3846-3077-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <position>
<x>-80.0</x>
<y>848.0</y>
                            </position>
                            <bundle>
<artifact>nifi-groovyx-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>groovyx-script-file</key>
        <value>
            <name>groovyx-script-file</name>
        </value>
    </entry>
    <entry>
        <key>groovyx-script-body</key>
        <value>
            <name>groovyx-script-body</name>
        </value>
    </entry>
    <entry>
        <key>groovyx-failure-strategy</key>
        <value>
            <name>groovyx-failure-strategy</name>
        </value>
    </entry>
    <entry>
        <key>groovyx-additional-classpath</key>
        <value>
            <name>groovyx-additional-classpath</name>
        </value>
    </entry>
    <entry>
        <key>SQL.mydb</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>SQL.mydb</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>groovyx-script-file</key>
    </entry>
    <entry>
        <key>groovyx-script-body</key>
        <value>import java.nio.charset.*
import java.time.LocalDateTime
import java.util.logging.Logger

def flowFile = session.get()
if(!flowFile) return

def fail = false
LocalDateTime date = LocalDateTime.now()
String date_time = date.format("yyyy-MM-dd hh:mm:ss.SSS")
Logger log = Logger.getLogger("DMS_StoreTerminalDataWebServToDB");

flowFile = session.write(flowFile, {inputStream, outputStream -&gt;
    try {
        def api = flowFile.getAttribute('API').toString()
        //def recordIn = IOUtils.toString(inputStream, StandardCharsets.UTF_8)

        def query = "INSERT INTO public.dms_common_error_table (error_code, error_type, error_description, error_context, interface, reference, createts, modifyts, create_user_id, modify_user_id)\n" +
                "VALUES ('DMSEXCEP004', 'Data Processing Failed', 'Data Processing Failed', 'TerminalStatus', 'dms_storeTerminalDataInterface', '"+api+"', '"+date_time+"', '"+date_time+"', 'Nifi', 'Nifi')"
        log.info(query)

        try {
            SQL.mydb.withTransaction {
                SQL.mydb.execute(query);
            }
        } catch (Exception e) {
            log.info(e.toString())
        }

        outputStream.write("Success".getBytes(StandardCharsets.UTF_8))

    }
    catch(e) {
        log.info("Error during processing of StoreTerminalData.groovy "+e)
        fail=true
    }
} as StreamCallback)
if(fail){
    session.transfer(flowFile, REL_FAILURE)
    fail = false
} else {
    session.transfer(flowFile, REL_SUCCESS)
}</value>
    </entry>
    <entry>
        <key>groovyx-failure-strategy</key>
        <value>rollback</value>
    </entry>
    <entry>
        <key>groovyx-additional-classpath</key>
    </entry>
    <entry>
        <key>SQL.mydb</key>
        <value>6d16626a-5ca1-346f-0000-000000000000</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Process Exception Loader</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.groovyx.ExecuteGroovyScript</type>
                        </processors>
                        <processors>
                            <id>ee2441f6-2737-3238-0000-000000000000</id>
                            <parentGroupId>5782e665-9150-36f5-0000-000000000000</parentGroupId>
                            <position>
<x>168.0</x>
<y>624.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>windows-1252</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>dms-storeTerminalDataDestination</name>
                    <variables/>
                </processGroups>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>LoadHostsWithGroupJsonFile</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>05/03/2021 05:34:50 UTC</timestamp>
</template>
